@import 'bulma/css/bulma.min.css';

html, body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: "Catamaran", serif;
}
body {
  background: linear-gradient(135deg, #ff7eb3, #ff758c);
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Catamaran", serif;
  font-weight: 600;
  line-height: 1.618;
  -webkit-font-smoothing: antialiased;
	-moz-font-smoothing: grayscale;
}

.card {
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  font-family: "Catamaran", serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}


@keyframes heartbeat {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

.progress-bar {
  transition: width 0.5s ease-in-out;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.button {
  font-family: "Catamaran", serif;
  border: none;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title, .subtitle {
  font-family: "Catamaran", serif;
  color: #3a2734;
}

.input {
  font-family: "Catamaran", serif;
  border: 2px solid #ff7eb3;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input:focus {
  border-color: #ff3b6f;
  box-shadow: 0 0 5px rgba(255, 59, 111, 0.5);
}

.input::placeholder {
  font-family: "Catamaran", serif;
  color: #ff7eb3;
  opacity: 0.7;
}
input {
  font-family: "Catamaran", serif;
}
.textarea {
  font-family: "Catamaran", serif;
  border: 2px solid #ff7eb3;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.textarea::placeholder {
  font-family: "Catamaran", serif;
  color: #ff7eb3;
  opacity: 0.7;
}
h1 {
  white-space: pre-wrap;
  word-break: break-word;
}
.wish-content {
  font-family: "Catamaran", serif;
  font-size: 16px;
  letter-spacing: .03em;
  font-weight: 600;
  word-break: break-word;
}
p {
  font-family: "Catamaran", serif;
  letter-spacing: .03em;
  word-break: break-word;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
}
.wish-content br {
  content: "";
  display: block;
}
.canvas-container {
  font-family: "Catamaran", serif;
  width: 100%;
  max-width: 540px;
  text-align: center;
  border: 1px solid #f37c45;
  padding: 18px;
}
canvas {
  font-family: "Catamaran", serif;
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  image-rendering: crisp-edges;
}
.floating-share-bar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 8px;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}
.floating-share-bar .toggle-button {
  background-color: #1e824c;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease;
}
.floating-share-bar .toggle-button:hover {
  background-color: #145a32;
  transform: scale(1.1);
}
.share-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}
.floating-share-bar.open .share-buttons {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}
.date {
  font-family: "Catamaran", serif;
  color: #362326;
  text-transform: uppercase;
  font-size: 14px;
}
.audio-player {
  width: 100%;
  max-width: 200px;
  padding: 15px;
  border-radius: 15px;
  background: #80223c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.audio-title {
  font-family: "Catamaran", serif;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(255, 242, 242);
  margin-bottom: 12px;
}

.play-button {
  background: #db788e;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.play-button:hover {
  background: #db788e;
}

.progress-container {
  width: 100%;
  height: 6px;
  background: #db788e;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 10px;
}

.progress-bar {
  height: 100%;
  background: rgb(22, 2, 17);
  transition: width 0.2s ease-in-out;
}

.duration-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  color: white;
}

.current-time,
.total-duration {
  font-family: "Catamaran", serif;
  font-size: 0.8rem;
  color: white;
}

.shine-button {
  background: linear-gradient(90deg, #f5d389, #e6cf69, #f7df76);
  color: #0f1601;
  font-family: "Catamaran", serif, sans-serif; 
  font-weight: bold;
}

.shining-text {
  font-family: "Catamaran", serif, sans-serif; 
  font-weight: bold;
  color: transparent;
  letter-spacing: 0.03em;
  font-size: 18px;
  word-break: break-word;
  background-image: linear-gradient(90deg, #e95318, #ca51a6, #ad0d58);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine 3s ease-in-out infinite;
  will-change: background-position;
}

@keyframes shine {
  0% {
    background-position: -200% 0;
  }
  50% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@supports not (--css: variables) {
  .shining-text {
    color: #ffcc00;
    background: none;
  }
}
