@import 'bulma/css/bulma.min.css';

html, body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Anek Tamil', sans-serif;
}
body {
  background: linear-gradient(135deg, #ff7eb3, #ff758c);
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Anek Tamil', sans-serif;
  font-weight: 600;
}

.card {
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  font-family: 'Anek Tamil', sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}


@keyframes heartbeat {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

.progress-bar {
  transition: width 0.5s ease-in-out;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.button {
  font-family: "Anek Tamil", sans-serif;
  border: none;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title, .subtitle {
  font-family: 'Anek Tamil', sans-serif;
  color: #ff3860;
}

.input {
  font-family: "Anek Tamil", sans-serif;
  border: 2px solid #ff7eb3;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input:focus {
  border-color: #ff3b6f;
  box-shadow: 0 0 5px rgba(255, 59, 111, 0.5);
}

.input::placeholder {
  font-family: 'Anek Tamil', sans-serif;
  color: #ff7eb3;
  opacity: 0.7;
}

.textarea {
  font-family: "Anek Tamil", sans-serif;
  border: 2px solid #ff7eb3;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.textarea::placeholder {
  font-family: 'Anek Tamil', sans-serif;
  color: #ff7eb3;
  opacity: 0.7;
}
h1 {
  white-space: pre-wrap;
  word-break: break-word;
}
.wish-content {
  font-family: 'Anek Tamil', sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  word-break: break-word;
}
p {
  font-family: 'Anek Tamil', sans-serif;
  white-space: pre-wrap;
  word-break: break-word;
}
.wish-content br {
  content: "";
  display: block;
  margin-bottom: 0.5rem;
}
.canvas-container {
  width: 100%;
  max-width: 540px;
  text-align: center;
  border: 1px solid #f37c45;
  padding: 18px;
}
canvas {
  font-family: "Anek Tamil", serif;
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  image-rendering: crisp-edges;
}
.floating-share-bar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 8px;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}
.floating-share-bar .toggle-button {
  background-color: #1e824c;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease;
}
.floating-share-bar .toggle-button:hover {
  background-color: #145a32;
  transform: scale(1.1);
}
.share-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}
.floating-share-bar.open .share-buttons {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}